<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="https://gpirates.herokuapp.com/app/">
    <!-- <img src="/static/testapp/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    G-Pirates
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/series">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/applications">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/" style=" font-weight: bold; color :white">Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://gpirates.herokuapp.com/app/">Report A Problem</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
  </div>
</nav>

<script>

  $('#search').on('input', function () {
    if (window.location.pathname != "/app/") {
      var cards = $('[id^="card"]');
      cards.hide();
      console.log(cards);
      for (var i = 0; i < cards.length; i++) {
        if ($("#" + cards[i].id).find(".card-title").html().toLocaleLowerCase().startsWith($(this).val().toLocaleLowerCase())){
          $("#" + cards[i].id).show();
        }
      }
    }
  });
</script>